<div class="inicio-content">
    <div class="ic-encabezado">
        <div class="fondo-negro"></div>
        <div class="ic-en-title ">
            <h3>SISTEMA INTEGRADO DE GESTION</h3>
        </div>
        <img src="content/resources/img/banner.jpeg" alt="" srcset="">
    </div>
    <div class="in-co-cuerpo">
        <div class="in-co-cu">
            <div class="box-in-co-cu">
                <div class="box-img-in-co">
                    <img src="content/resources/img/mision.jpg" alt="">
                </div>
                <div class="box-text-in">
                    <h2>Misión</h2>
                    <p>Concretos & Morteros S.A somos una empresa dedicada a la comercialización de concretos
                        premezclado en todas sus modalidades, líder en el sector de la construcción como opción
                        eficiente e innovadora, contamos con un equipo humano idóneo, capacitado y líder, con innovación
                        y tecnología ofreciendo a nuestros clientes productos y servicios con los más altos estándares
                        de calidad buscando la satisfacción de sus necesidades. </p>
                </div>
            </div>
            <div class="box-in-co-cu">
                <div class="box-img-in-co">
                    <img src="content/resources/img/vision.jpg" alt="">
                </div>
                <div class="box-text-in">
                    <h2>Visión</h2>
                    <p>Ser una empresa reconocida y líder en el mercado nacional como la mejor opción en la industria de
                        la construcción en cuanto a la comercialización de artículos de hormigón, generando relaciones
                        de largo plazo con nuestros clientes, proveedores, colaboradores y socios, basados en
                        tecnología, infraestructura y recurso Humano idóneo. Ser una empresa reconocida y líder en el
                        mercado nacional como la mejor opción en la industria de la construcción en cuanto a la
                        comercialización de artículos de hormigón, generando relaciones de largo plazo con nuestros
                        clientes, proveedores, colaboradores y socios, basados en tecnología, infraestructura y recurso
                        Humano idóneo.</p>
                </div>
            </div>
            <div class="box-in-co-cu">
                <!-- <div class="box-img-in-co">
                <img src="view/img/vision.jpg" alt="">
            </div> -->
                <div class="box-text-in">
                    <h2 class="text-center">Política Integral</h2>
                    <p>CONCRETOS Y MORTEROS S.A., somos una empresa dedicada a la producción y comercialización de
                        concreto
                        premezclado en todas sus modalidades, comprometidos con el cumplimiento de los requisitos y la
                        satisfacción de  las necesidades de nuestros clientes, proveedores, colaboradores y socios,
                        basados
                        en una tecnología de punta, infraestructura y  recurso humano idóneo, un talento humano
                        competente,
                        motivado y comprometido en la eficiencia de nuestro sistema de gestión; velando por la salud,
                        prevención de lesiones y enfermedades laborales de nuestros trabajadores por medio de la
                        identificación, control y eliminación de los peligros asociados con las actividades que se
                        desarrollan en la organización.
                         <br> <br>
                        Nos comprometemos con la mejora continua en todos nuestros procesos asegurando el crecimiento de
                        la
                        empresa y velando por el bienestar de sus colaboradores, contratistas y comunidades.</p>
                </div>
                <div class="box-text-in">
                    <h2 class="text-center">Objetivos Integrales</h2>
                    <ol>
                        <li>Satisfacer las necesidades y expectativas de nuestros clientes, proveedores, colaboradores y
                            socios al asegurar el cumplimiento de sus requisitos.</li>
                        <li>Mantener y mejorar la calidad de los productos de Hormigón, Cemento y Yeso, y la
                            productividad de la maquinaria y equipo de acuerdo con las necesidades de los clientes.</li>
                        <li>Minimizar la ocurrencia de accidentes e incidentes laborales por medio de la identificación
                            de peligros y control de riesgos.</li>
                        <li>Mejorar continuamente la eficacia de los procesos mediante la adecuada planificación e
                            implementación de sus actividades.</li>
                    </ol>
                </div>
            </div>
            <div class="box-in-co-cu">
                <div class="box-img-in-co-end">
                    <img src="content/resources/img/mapaProcesos.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>